.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .parent button {
    background-color: #6c2eb9;
    box-shadow: 0 9px rgb(78, 66, 87);
    color: white;
    border: none;
    padding: 8px;
    font-size: 21px;
    height: 50px;
    width: 280px; 
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    display: inline-block;
    text-align: center;
    outline: none;
    border-radius: 15px;
    text-decoration: none;
    margin: 1px 2px;
  }

  .parent button:hover {
    background-color: #431c72;
    box-shadow: 0 9px rgb(56, 47, 63);
  }

  .parent button:active {
    background-color: #3c1b66;
    box-shadow: 0 5px rgb(40, 37, 43);
    transform: translateY(2px);
  }
  
  .parent button:not(:first-child) {
    margin-top: 10px;
  }

  .agregar-boton {
    border-radius: 70%;
  }