input.text {
  width: 280px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  font-size: large;
  background-color: #f1e9f8;
  border: 2px solid #462570;
  background-image: url('../../public/img/searchicon.jpeg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin: 8px 2px;
  outline: none;
  justify-content: 'center';
  align-items: 'center';
  text-align: center;
  color: #252525;
}
input.text:focus {
  width: 80%;
  background-color: #d7c4ee;
  border: 3px solid #6c2eb9;
}