.parent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .parent2 button {
    background-color: #bc48e0;
    color: white;
    box-shadow: 0 9px rgb(56, 47, 79);
    cursor: pointer;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    transition: all 0.2s ease;
    outline: none;
    margin: 4px 2px;
  }

  .parent2 button:hover {
    background-color: #cf51f5;
    box-shadow: 0 9px rgb(56, 47, 63);
    cursor: pointer;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    transition: all 0.2s ease;
    outline: none;
    margin: 4px 2px;
  }
  .parent2 button:active {
    background-color: #53206b;
    box-shadow: 0 2px 4px rgb(56, 47, 79);
    transform: translateY(2px);
  }
  
  .parent2 button:not(:first-child) {
    margin-top: 10px;
  }

  .agregar-boton {
    border-radius: 70%;
  }
