.button {
  background-color: #6c2eb9;
  color: white;
  cursor: pointer;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;

  border-radius: 15px;
  box-shadow: 0 9px #999;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  outline: none;
  margin: 4px 2px;
}

.button1 {
  background-color: #2e66b9;
  color: white;
}
.button1:hover {
  background-color: #234193;
  color: white;
}
.button1:active {
  background-color: #394663;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
  background-color: #b81b10;
  color: white;
}
.button2:hover {
  background-color: #e22215; 
  color: white;
}
.button2:active {
  background-color: #633939;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button3 {
  background-color: #6f00ff;
  color: white;
}
.button3:hover {
  background-color: #8d3cf8;
  color: white;
}
.button3:active {
  background-color: #563963;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonV {
  background-color: #2eb951;
  color: white;
}
.buttonV:hover {
  background-color: #239344;
  color: white;
}
.buttonV:active {
  background-color: #396344;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

td, th {
  border: 0px solid #af4394;
  text-align: left;
  padding: 8px;
}

.TodoItem {
  background-color: #bb90bb;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0px 5px 50px rgba(56, 42, 56, 0.15);
}
.TodoItem:hover {
  background-color: #f1b3f1;
}
.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

ul {
  font-size: 1.5rem;
}

li,
p {
  line-height: 1;
}

/*p {
  font-family: verdana;
  font-size: 20px;
}
ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ol li {
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
}
*/
